.defaultFooter {
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.shareIcons {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.bottom {
  display: flex;
  justify-content: center; 
  align-items: center;
}
